.header {
    width: 1052px;
    padding: 0px 0 0px 0;
    margin: 0 auto;
    display: flex;
}

.header__menu {
    padding-top: 43px;
    padding-left: 26px;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
    gap: 31px;
    list-style: circle;
}

.header__links-list-item {
    font-size: 18px;
    font-weight: 400;
}

.header__links-list-item:not(:first-child) {
    letter-spacing: 0.2px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    border-bottom: 1px solid black;
}

.header__link_active {
    border-bottom: none;
}

.header__logo {
    width: 134px;
    height: 105px;
    margin-left: 43px;
}

.header__logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.address {
    max-width: 241px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
}

.header .address {
    margin-left: 195px;
    margin-top: 6px;
}

.address a {
    border-bottom: 1px solid black;
}

.main {
    width: 100%;
    margin-top: 95px;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    padding-top: 165px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.cover * {
    position: relative;
    z-index: 2;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    inset: 0;
    z-index: 1;
}

h1 {
    font-size: 100px;
    font-weight: 700;
    color: #FFFFFF;
    display: block;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.aligned-text, .aligned-text_center, .aligned-text_right {
    display: block;
}



.aligned-text .letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center {
    text-align: center;
    padding-top: 8px;
    padding-right: 48px;
    letter-spacing: 32px;
}

.aligned-text_center .letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center .letter-spacing-current {
    letter-spacing: 32px;
}

.aligned-text_right {
    text-align: center;
    padding-top: 2px;
    padding-left: 584px;
    letter-spacing: 60px;
}

.aligned-text_right .letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 30px;
}

.cover__description {
    margin-top: 129px;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 27px;
    padding-right: 50px;
}

.cover__description-text {
    word-spacing: 19px;
    letter-spacing: 0.1px;
}

.bet-button {
    width: 256px;
    height: 51px;
    background: transparent;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    border: 1px solid #fff;
    text-transform: uppercase;
    color: #fff;
    font-family:inherit;
}

.lots {
    width: 1052px;
    margin: 182px auto 0px auto;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    padding-left: 40px;
}

.lots__card-list {
    width: 100%;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 25px;
}

.lots__card-list-item {
    position: relative;
    width: 334px;
    min-height: 563px
}

.card-link {
    display: block;
    height: 100%;
    width: 100%;
}

.card {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 51px 40px 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card * {
    position: relative;
    z-index: 2;
    color: #fff;

}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.5px;
}

.lots__look-more-link {
    margin-top: 31px;
    margin-left: 40px;
    letter-spacing: 0.2px;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    border-bottom: 1px solid black;
}

.about {
    margin: 181px auto 0 auto;
    width: 1052px;
    display: flex;
}

.about__left {
    min-width: 334px;
}

.about__right {
    flex-grow: 1;
}

.about__logo {
    width: 244px;
    height: 244px;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

.about__logo-image {
    width: 141px;
    height: 112px;
}

.about__title {
    padding: 100px 0px 103px 24px;
    display: flex;
    align-items: center;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.about__text {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 25px;
    padding-bottom: 0px;
    padding-right: 10px;
}

.about__text p {
    word-spacing: 0.9px;
}

.about__text p:last-child {
    letter-spacing: -0.15px;
}

.about__text p:not(:last-child) {
    margin-bottom: 23px;
}

.footer {
    width: 1000px;
    margin: 180px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__menu {
    padding-right: 10px;
}

.footer__menu-list-item {
    padding-left: 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.footer__menu-link {
    border-bottom: 1px solid black;
}

.footer__menu-link_active {
    border: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    gap: 47px;
}

.footer__social-link-yt {
    background-image: url(../images/yt.svg);
    background-size: 100% 100%;
}

.footer__social-link-vk {
    background-image: url(../images/vk.svg);
}

.footer__social-link-pinteres {
    background-image: url(../images/pinterest.svg);
}

.footer__social-link {
    display: inline-block;
    width: 0;
    height: 0;
    padding: 24px 24px 24px 24px;
}