body {
    width: 1100px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 88px;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.header {
    width: 1052px;
    height: 105px;
    margin: 0 auto;
    display: flex;
}

.header__menu {
    padding-top: 45px;
    padding-left: 26px;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
    list-style: circle;
    width: 392px;
}

.header__links-list-item {
    font-size: 18px;
    font-weight: 400;
}

.header__links-list-item:not(:first-child) {
    letter-spacing: 1px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    border-bottom: 1px solid black;
}

.header__link_active {
    border-bottom: none;
}

.header__logo {
    width: 134px;
    height: 105px;
    margin-left: 40px;
}

.address {
    width: 241px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.header .address {
    margin-left: 192px;
    margin-top: 8px;
}

.address a {
    border-bottom: 1px solid black;
}

.main {
    width: 100%;
    margin-top: 96px;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    width: 100%;
    height: 757px;
    position: relative;
    padding-top: 165px;
    padding-left: 50px;
}

.cover * {
    position: relative;
    z-index: 2;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.aligned-text, .aligned-text_center, .aligned-text_right {
    font-size: 100px;
    font-weight: 700;
    color: #FFFFFF;
    display: block;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.aligned-text .letter-spacing-extended {
    letter-spacing: 60px;
}


.aligned-text_center {
    text-align: center;
    padding-top: 14px;
    padding-right: 41px;
    letter-spacing: 32px;
}

.aligned-text_center .letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center .letter-spacing-current {
    letter-spacing: 19px;
}


.aligned-text_right {
    text-align: center;
    padding-top: 5px;
    padding-left: 580px;
    letter-spacing: 60px;
}

.aligned-text_right .letter-spacing-extended {
    letter-spacing: 30px;
}

.cover__description {
    height: 51px;
    margin-top: 125px;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 50px;
}

.cover__description-text {
    word-spacing: 19px;
    letter-spacing: 0.3px;
}

.bet-button {
    width: 256px;
    height: 51px;
    background: transparent;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    border: 1px solid #fff;
    text-transform: uppercase;
    color: #fff;
}

.lots {
    width: 1052px;
    margin: 182px auto 0px auto;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    padding-left: 40px;
}

.lots__card-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
}

.lots__card-list-item {
    position: relative;
    width: 334px;
    height: 563px;
}

.card-link {
    display: block;
    height: 100%;
    width: 100%;
}

.card {
    width: 100%;
    background-size: cover;
    height: 100%;
    padding-top: 52px;
    display: flex;
    flex-direction: column;
}

.card * {
    position: relative;
    z-index: 2;
    color: #fff;

}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    width: 254px;
    text-decoration: underline;
    margin: 0px auto;
}

.card__text {
    margin: auto auto 52px auto;
    font-size: 20px;
    font-weight: 400;
    width: 254px;
    line-height: 23px;
    letter-spacing: 0.5px;
}

.lots__look-more-link {
    margin-top: 32px;
    margin-left: 40px;
    letter-spacing: 0.5px;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    border-bottom: 1px solid black;
}

.about {
    margin: 176px auto 0 auto;
    width: 1052px;
    display: flex;
}

.about__left {
    min-width: 334px;
}

.about__right {
    flex-grow: 1;
}

.about__logo {
    width: 240px;
    height: 240px;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

.about__logo-image {
    width: 141px;
    height: 112px;
}

.about__title {
    height: 240px;
    display: flex;
    align-items: center;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 18px;
    padding-left: 20px;
    letter-spacing: 0.4px;
}

.about__text {
    width: 668px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 22px;
    padding-top: 11px;
    letter-spacing: 1%;
}

.about__text p:not(:last-child) {
    margin-bottom: 23px;
}

.footer {
    width: 1000px;
    margin: 183px auto 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
}

.footer__menu-list-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: center;
}

.footer__menu-link {
    border-bottom: 1px solid black;
}

.footer__menu-link_active {
    border: none;
}

.footer__social-list {
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}